body {
    font-family: "Lucida Console", monospace;
    background-image: url(../images/skyline.jpg);
    background-attachment: fixed;
    height: 200vh;
}

header {
    color: #070C0D;
    background-color: #56979F;
    text-align: center;
    padding: 5px;
    border-radius: 10px 10px 0 0;
    }

footer {
    color: #070C0D;
    background-color: #56979F;
    padding: 5px;
    border-radius: 0px 0px 10px 10px;
}

main {
    color: #070C0D;
    background-color: rgb(86, 151, 159, 0.6);
    padding: 5px 0px 5px;
}


h1 {
    color: #c24e28;
    font-size: 40px;
    font-weight: 800;
    text-align: center;

}

hr {
    margin: 0%;
    background-color: #407076;
}

section, .footnote {
    margin-left: 5px;
    margin-right: 5px;
}

#menu {
    list-style-type: none;
    padding-left: 0;
}

#menu li {
    padding: 5px;
}


.footnote {
   color: aquamarine;
   font-size: small;
}

#pixelart-images {
    display: block;
    width: fit-content;
    margin: auto;
}

.pixelart {
    display: inline-block;
    margin: auto;
    border: 5px #407076 solid;
    border-radius: 10px;
    max-width: 384px;
}

.pixelart:hover {
    transform: scale(2);
}